This file is set of formulae and methods i learned during my statistics preparation .

###Measure of Central Tendancies 
1]Mean
2]Median 
3]Mode

#mean

mean=(summation of (observation*frequency))/summation of frequency

In [22]:
import numpy as np 
import pandas as pd

In [23]:
data=pd.read_csv("C:\DATASETS\GDP_PER_COUNTRY_UPTO_2028.csv")
data

,Country,1980,1981,1982,1983,1984,1985,1986,1987,1988,...,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028
0,Afghanistan,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,586.204,611.268,443.385,0.000,0.000,0.000,0.000,0.000,0.000,0.000
1,Albania,728.359,817.734,824.542,815.529,788.332,788.801,855.724,832.245,805.046,...,5345.058,5278.986,6259.762,6657.637,8057.490,8877.337,9280.572,9818.569,10470.180,11187.728
2,Algeria,2268.607,2305.505,2254.328,2316.679,2432.717,2753.697,2698.915,2705.111,2143.742,...,3953.402,3321.601,3659.709,4306.820,4874.706,5130.360,5243.056,5335.671,5355.284,5365.190
3,Andorra,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,40688.491,36973.845,41806.876,41084.874,44107.317,45642.103,46215.307,46546.578,46713.341,46920.949
4,Angola,802.627,731.427,712.576,723.654,747.325,817.068,743.735,828.958,875.526,...,2612.246,1709.283,2169.648,3438.147,2550.001,2452.737,2483.027,2507.490,2570.826,2622.394
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,Middle East and Central Asia,2072.125,2142.044,2065.611,2039.817,2003.369,2003.355,1985.727,2288.888,2348.431,...,4641.970,4070.079,4688.849,5699.162,5536.376,5665.879,5879.257,6082.398,6307.168,6544.966
225,Other advanced economies,6887.678,6931.932,6794.256,6701.009,6949.715,6862.985,8293.344,10107.535,11788.995,...,42996.566,42622.705,49366.494,49072.625,50006.416,51713.834,54067.823,56395.411,58664.967,60994.861
226,Sub-Saharan Africa,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,1722.048,1586.646,1745.130,1815.339,1721.362,1788.174,1900.327,2005.471,2111.363,2230.357
227,World,2863.027,2879.483,2775.621,2800.480,2850.684,2924.417,3381.137,3825.176,4229.276,...,11500.192,11077.299,12468.435,12895.375,13332.788,13872.367,14477.052,15085.863,15673.547,16295.820
228,"©IMF, 2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
data['2024'].mean()   ##mean

18678.93461403509

In [25]:
data['2024'].median()    #median

7530.6900000000005

In [26]:
data.mode()    #mode

,Country,1980,1981,1982,1983,1984,1985,1986,1987,1988,...,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028
0,ASEAN-5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Advanced economies,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,261.294,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,302.262,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Africa (Region),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,480.145,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,508.164,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,World,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,80613.712,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
225,Yemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,81231.549,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
226,Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,84474.469,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
227,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,113860.533,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
228,"©IMF, 2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
data.std()    #standard deviation

C:\Users\pavan\AppData\Local\Temp\ipykernel_16772\2285374414.py:1: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.std()    #standard deviation

1980     5165.616558
1981     5102.793252
1982     4680.207607
1983     4407.876056
1984     4348.569898
1985     4511.630577
1986     5011.311206
1987     5943.895781
1988     6520.006879
1989     6682.817670
1990     7779.689097
1991     8041.845694
1992     8476.146776
1993     8106.560091
1994     8693.435714
1995     9838.933088
1996     9916.410595
1997     9435.911802
1998     9381.017493
1999     9726.814091
2000     9781.148985
2001     9622.706060
2002    10238.964057
2003    11935.572482
2004    13949.356495
2005    14961.131330
2006    15959.454038
2007    18024.804402
2008    19354.332446
2009    17059.693534
2010    18039.652859
2011    20284.925643
2012    19918.326917
2013    20386.586061
2014    20415.056831
2015    17736.862229
2016    17836.694711
2017    18819.521289
2018    20041.760202
2019    19585.341197
2020    18684.064272
2021    21664.193281
2022    22032.679903
2023    23110.907576
2024    24210.550616
2025    25281.936735
2026    26251.894367
2027    27151.945329
2028    28077.506579
dtype: float64

In [28]:
data.var()    ###Variance in python

C:\Users\pavan\AppData\Local\Temp\ipykernel_16772\1020563268.py:1: FutureWarning: The default value of numeric_only in DataFrame.var is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.var()    ###Variance in python

1980    2.668359e+07
1981    2.603850e+07
1982    2.190434e+07
1983    1.942937e+07
1984    1.891006e+07
1985    2.035481e+07
1986    2.511324e+07
1987    3.532990e+07
1988    4.251049e+07
1989    4.466005e+07
1990    6.052356e+07
1991    6.467128e+07
1992    7.184506e+07
1993    6.571632e+07
1994    7.557582e+07
1995    9.680460e+07
1996    9.833520e+07
1997    8.903643e+07
1998    8.800349e+07
1999    9.461091e+07
2000    9.567088e+07
2001    9.259647e+07
2002    1.048364e+08
2003    1.424579e+08
2004    1.945845e+08
2005    2.238355e+08
2006    2.547042e+08
2007    3.248936e+08
2008    3.745902e+08
2009    2.910331e+08
2010    3.254291e+08
2011    4.114782e+08
2012    3.967397e+08
2013    4.156129e+08
2014    4.167745e+08
2015    3.145963e+08
2016    3.181477e+08
2017    3.541744e+08
2018    4.016722e+08
2019    3.835856e+08
2020    3.490943e+08
2021    4.693373e+08
2022    4.854390e+08
2023    5.341140e+08
2024    5.861508e+08
2025    6.391763e+08
2026    6.891620e+08
2027    7.372281e+08
2028    7.883464e+08
dtype: float64

In [34]:
a=data["2028"].max()
b=data["2028"].min()
c=a-b
c    

range=data["2028"].max()-data["2028"].min()
range                ##range in python

154419.811